.our-advantages {
    display: flex;
    margin-top: 94px;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
           flex-direction: row;
           flex-wrap: wrap;
        flex-basis: calc((100% - 30px) / 2);
        }
    
    @media screen and (min-width: 1200px) {
           flex-direction: row;
           flex-wrap: nowrap;
        }


&__card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 100px;
    // width: 270px;
    // height: 120px;
    background: var(--color-very-light-grey);
    border-radius: 4px;

    @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 25px 142px;
            flex-basis: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: 1200px) {
            // flex-direction: row;
            // flex-wrap: nowrap;
            padding: 25px 100px;
        }
}

&__header {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            text-align: start;
        }
    
        @media screen and (min-width: 1200px) {
            flex-direction: row;
            flex-wrap: nowrap;
        }
}

&__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-grey);

@media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
}

&__item {

@media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    }
}}