.our-team {
    background-color: var(--color-very-light-grey);


&__header {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.03em;
    line-height: 1.1;
    margin-bottom: 30px;
    background-color: var();

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }

}

&__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

&__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-white);
}

&__team-member {
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.1;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}

&__position {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    line-height: 1.16;
    margin-bottom: 30px;
    text-align: center;
}



&__social-icons {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    margin-top: 16px;
    margin-bottom: 30px;
    transition: background-color var(--transition-duration) var(--cubic-bezier),
        fill var(--transition-duration) var(--cubic-bezier);
    will-change: background-color, fill;
}

&__social-icon {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 50%;
    transition: background-color var(--transition-duration) var(--cubic-bezier),
        fill var(--transition-duration) var(--cubic-bezier);
    will-change: background-color, fill;
}

&__social-icon:hover {
    --color3: var(--color-white);
    background-color: var(--hover-color);
}}