body {
    margin: auto;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: var(--color-black);
    background-color: var(--color-white);
}

input {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h4,
p {
    margin: 0;
}

.flex {
    display: flex;
}

.container {
    // width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: 480px){
        width: 480px;
    }
         @media screen and (min-width: 768px) {
             width: 768px;
         }
                  @media screen and (min-width: 1200px) {
                      width: 1200px;
                  }

}

.section {
    padding: 94px 0;
}