.menu-burger {
    display: none;
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: inherit;
    margin: 0;

    @media screen and (max-width: 767px) {
        display: flex;
    }}