.overlay {
    padding: 49px 45px 49px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--color-white);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--overlay-background-color);
    transition: transform var(--transition-duration) var(--cubic-bezier);
    transform: translateY(100%);
    will-change: transform;
}